@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/**
* @file _reset.scss
**/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

*::-moz-selection {
  background: #826F34;
  color: white;
}

*::selection {
  background: #826F34;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 0;
}

ol,
ul {
  list-style: none;
}

*:focus {
  outline: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

table td,
table th {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  line-height: 0;
  vertical-align: bottom;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

input:focus {
  outline: 0;
}

td,
th,
tr {
  vertical-align: middle;
}

*,
dd,
dl,
dt,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
picture,
table,
ul {
  margin: 0;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

textarea {
  resize: vertical;
}

fieldset,
legend {
  padding: 0;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
* @file _common.scss
**/
.is-pc {
  display: block;
}
@media screen and (max-width: 750px) {
  .is-pc {
    display: none !important;
  }
}

.is-sp {
  display: none !important;
}
@media screen and (max-width: 750px) {
  .is-sp {
    display: block !important;
  }
}

.l-common {
  max-width: 1600px;
  margin: 0 auto;
}

.c-header {
  background: white;
  height: 100px;
}
@media screen and (max-width: 750px) {
  .c-header {
    display: none;
  }
}
.c-header__wrap {
  max-width: 980px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.c-header__logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
.c-header__logo a {
  color: #1E2528;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.c-header__nav {
  display: flex;
  align-items: center;
  gap: 12px;
}
.c-header__nav--item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-header__nav--ttl {
  color: #F65757;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 175% */
  text-transform: uppercase;
}
.c-header__nav--phone {
  display: flex;
  align-items: center;
  gap: 7px;
}
.c-header__nav--phone .__phone {
  color: #1E2528;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px; /* 154.167% */
}
.c-header__nav--time {
  color: #677075;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 240% */
  text-transform: uppercase;
  margin-top: -5px;
}
.c-header__nav--btn {
  display: flex;
  align-items: center;
  gap: 4px;
}
.c-header__nav--btn .__mes--btn {
  display: flex;
  width: 160px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #F65757;
  background: #F65757;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  position: relative;
  z-index: 1;
}
.c-header__nav--btn .__mes--btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: white;
  color: #F65757;
  transition: all ease 0.35s;
  border-radius: 6px;
  z-index: -1;
}
.c-header__nav--btn .__mes--btn:hover {
  z-index: 1;
  color: #F65757;
}
.c-header__nav--btn .__mes--btn:hover::after {
  width: 100%;
  transition: all ease 0.35s;
}
.c-header__nav--btn .__line--btn {
  display: flex;
  width: 160px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #06C755;
  background: #06C755;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  position: relative;
  z-index: 1;
}
.c-header__nav--btn .__line--btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: white;
  color: #06C755;
  transition: all ease 0.35s;
  border-radius: 6px;
  z-index: -1;
}
.c-header__nav--btn .__line--btn:hover {
  z-index: 1;
  color: #06C755;
}
.c-header__nav--btn .__line--btn:hover::after {
  width: 100%;
  transition: all ease 0.35s;
}
.c-header__items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: #2DAB94;
  gap: 50px;
}
@media screen and (max-width: 1280px) {
  .c-header__items {
    gap: 30px;
  }
}
.c-header__items .__item {
  position: relative;
}
.c-header__items .__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  transition: all ease 0.35s;
  background: white;
}
.c-header__items .__item:hover::after {
  width: 100%;
  transition: all ease 0.35s;
}
.c-header__items .__item a {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.c-contact {
  background: linear-gradient(180deg, #2DAB94 0%, #9EEFE1 100%);
  padding: 25px 23px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 375px;
}
@media screen and (max-width: 750px) {
  .c-contact {
    width: 100%;
  }
}
.c-contact__hurry {
  display: flex;
  max-width: 328px;
  width: 100%;
  margin: 0 auto;
  padding: 16px 0px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 2px solid #F65757;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.c-contact__hurry--ttl {
  color: #F65757;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.c-contact__hurry__phone {
  display: flex;
  align-items: center;
  gap: 12px;
}
.c-contact__hurry__phone .__phone-number {
  color: #1E2528;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px; /* 108.824% */
}
.c-contact__hurry--time {
  color: #677075;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 153.846% */
  text-transform: uppercase;
}
.c-contact__btn {
  display: flex;
  max-width: 328px;
  width: 100%;
  margin: 0 auto;
  padding: 16px 0px;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #E2F3F6;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 10px;
}
.c-contact__btn--ttl {
  color: #15584C;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.c-contact__btn .__mes--btn {
  display: flex;
  width: 249px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #F65757;
  background: #F65757;
  color: #FFF;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  position: relative;
  z-index: 1;
}
.c-contact__btn .__mes--btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: white;
  color: #F65757;
  transition: all ease 0.35s;
  border-radius: 6px;
  z-index: -1;
}
.c-contact__btn .__mes--btn:hover {
  z-index: 1;
  color: #F65757;
}
.c-contact__btn .__mes--btn:hover::after {
  width: 100%;
  transition: all ease 0.35s;
}
.c-contact__btn .__line--btn {
  display: flex;
  width: 249px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #06C755;
  background: #06C755;
  color: #FFF;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  position: relative;
  z-index: 1;
}
.c-contact__btn .__line--btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: white;
  color: #06C755;
  transition: all ease 0.35s;
  border-radius: 6px;
  z-index: -1;
}
.c-contact__btn .__line--btn:hover {
  z-index: 1;
  color: #06C755;
}
.c-contact__btn .__line--btn:hover::after {
  width: 100%;
  transition: all ease 0.35s;
}

html {
  font-size: 0.0625vw;
}

.x-intro {
  width: 100%;
  height: 1600px;
  background-image: url(../img/first-view-bg@1.5x.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  position: relative;
  padding: 30px;
}
.x-intro--harpoon {
  width: 780px;
  height: 725px;
  position: absolute;
  top: 0;
  left: 0;
}
.x-intro--trusner-logo {
  width: 785px;
  height: 640px;
  position: absolute;
  top: 30px;
  right: 50px;
}
.x-intro--des {
  position: absolute;
  bottom: 185px;
  left: 50px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.x-intro--des__label {
  width: 130px;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 96px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: left;
  color: #ffffff;
  background-color: #dd871b;
  opacity: 0.9;
  padding: 35px 0;
}
.x-intro--des .label2-prefix {
  margin-top: -115px;
}
.x-intro--harpoon-set {
  width: 980px;
  position: absolute;
  bottom: 30px;
  left: 350px;
}
.x-intro--set-ttl {
  width: 160px;
  position: absolute;
  bottom: 135px;
  right: 70px;
}

.x-point01 {
  width: 100%;
  height: 1600px;
  background-image: url(../img/point01-bg@1.5x.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% 100%;
}
.x-point01--header {
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  padding: 0 30px;
}
.x-point01--header__section-ttl {
  width: 280px;
  height: 340px;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #dd871b;
}
.x-point01--header__section-ttl p {
  font-size: 50px;
}
.x-point01--header__section-ttl h1 {
  font-size: 150px;
}
.x-point01--header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
}
.x-point01--header__content--subttl {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  line-height: 100px;
  color: #083678;
}
.x-point01--header__content--description {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 60px;
  font-weight: 500;
  font-style: normal;
  line-height: 80px;
  color: #444444;
}
.x-point01--diagram {
  height: 1260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding: 90px 30px 0;
}
.x-point01--diagram__product-intro {
  width: 740px;
  height: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  line-height: 90px;
  color: #ffffff;
  background-color: #dd871b;
  border-radius: 50px;
  border: solid 5px #ffffff;
  padding: 0 30px;
  margin-left: 30px;
}
.x-point01--diagram__harpoon-4axis {
  width: 1540px;
  margin-top: -80px;
}
.x-point01--diagram__harpoon-3axis {
  width: 1145px;
  margin-top: -80px;
  margin-left: 395px;
}
.x-point01--diagram__description {
  width: 750px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  line-height: 70px;
  color: black;
  position: absolute;
  left: 55px;
  bottom: 105px;
  background-color: #ffffff;
  opacity: 0.75;
  padding: 45px 25px;
}/*# sourceMappingURL=style.css.map */